PORT=your_port_here

#Database config
DATABASE_URL="mysql://johndoe:randompassword@localhost:3306/mydb"
DATABASE_USER=your_username
DATABASE_PASSWORD=your_password
DATABASE_NAME=your_database_name
DATABASE_HOST=your_host_here
DATABASE_PORT=your_port_here

#SMTP config
SMTP_HOST=smtp.example.com
SMTP_USER=user@example.com
SMTP_PASS=your_provider_password_here
SMTP_FROM='Example team <user@example.com>'

#JWT secret
JWT_SECRET_KEY=your_jwt_secret_key_here